

body{
	background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTFtDBguHTx8wcp-go5wYlq2wZ5nTevhi3vfamyld6h2B51dhzG);
	background-size: cover;
	background-repeat:no-repeat;
	font-family: Lato;
	color: white;
}
.padding{
	position:absolute; 
	padding-top: 0%;
    padding-right: 20%;
    padding-bottom: 10%;
    padding-left: 40%;
    
}
.transbox{
	position:relative ;
	height: 270px;
	width: 300px;
	top: 250px;
	left:500px;
	
	
  background-color: black;
  border: 1px solid black;
  opacity: 0.6;
  filter: alpha(opacity=60)

}

